paint-canvas {
  display: inline-block;
  font-size: 0;
  outline: none;
  margin: 4px 12px 12px;
  cursor: crosshair;
}

.paint-image {
  cursor: context-menu;
}

.paint-tools {
  display: flex;
  margin: 8px 12px 4px;
  align-items: center;
  font-family: monospace;
  font-size: 12px;
  justify-content: space-between;
}

.paint-options {
  display: flex;
  align-items: center;
}

.paint-options label {
  display: flex;
  align-items: center;
  margin-left: 8px;
}

.paint-input {
  padding: 1px 6px;
  font-size: 12px;
  margin-left: 4px;
  font-family: monospace;
  width: 40px;
}

.paint-button {
  border: 1px solid #000;
  background: #fff;
  padding: 3px 8px;
  font-size: 11px;
  font-weight: normal;
}

.paint-button.selected {
  background: #000;
  color: #fff;
}
